#about>h2{
    text-align: center;
    font-size: 35px;
}

#about>section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#about>section>div:nth-child(1){
    margin-left: 200px;
    margin-top: 10px;
}
#about>section>div:nth-child(2)>div:nth-child(1){
    margin-top: 60px;
    margin-left: -90px;
    font-size: 20px;
}
