#container-p>div>h3{
    text-align: center;
    padding-top: 2px;
}
#container-p>div>p{
    margin-left: 3rem;
    padding-top: 2px;
    font-size: 1rem;
}
#container-p>div{
    background: #e5e4e2;
    width: 50%;
    border-radius: 2rem;
    height: 8rem;

}
#container-p>div:nth-child(1) {
    margin-left: 6rem;
    margin-top: 3rem;
}

#container-p>div:nth-child(2) {
    float: right;
    margin-right: 6rem;
    margin-top: 3rem;

}
#container-p>div:nth-child(3) {
    margin-left: 6rem;
    margin-top: 14rem;
}
#container-p>div:nth-child(4) {
    float: right;
    margin-right: 6rem;
    margin-top: 3rem;
}
#container-p>div:nth-child(5) {
    margin-left: 6rem;
    margin-top: 14rem;
}
#image-1{
    margin-left: 26rem;
    margin-top: -2.5rem;
}
#image-2{
    margin-left: 1rem;
    margin-top: -2rem;
}
#image-3{
    margin-left: 26rem;
    margin-top: -1.5rem;
}
#image-4{
    margin-left: 26rem;
    margin-top: -2.5rem;
}
#image-5{
    margin-left: 26rem;
    margin-top: -1.5rem;
}
